node_modules/**/*
npm-debug.*

# macOS
.DS_Store

#reports
allure-report/**
allure-results/**
mochawesome-report
cypress/reports/cucumber-json/**
cypress/reports/report-html/**

#cypress
cypress/videos